<%= form_with model: post do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% post.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :desc %><br>
    <%= form.text_area :desc %><br>
    <% post.errors.full_messages_for(:desc).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
