<h1><%= @post.name %></h1>

<p><%= @post.desc %></p>

<p><%= @post.price %></p>

<p><%= @post.quantity %></p>

<!--<p><%#= @post.img %></p>-->

<ul>
  <li><%= link_to "Edit", edit_post_path(@post) %></li>
  <li><%= link_to "Destroy", post_path(@post), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %></li>
</ul>